
.terminal-row code {
  margin-left: 0;
  margin-right: 0;

  &.terminal-row-hex {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.terminal-row code.terminal-row-word {
  &:hover {
    background: #2AF48C;

    color: #0D321F;

    cursor: pointer;
  }
}
